/*----------------------------------
Global CSS
-----------------------------------*/
html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Old Standard TT', serif;
	font-size: 18px;
	line-height: 28px;
}
h1,h2,h3,h4,h5,h6,
h1>a,h2>a,h3>a,h4>a,h5>a,h6>a {
	font-family: 'Oswald', sans-serif;
}
a {
	color: #222;
	text-decoration: none;
}
form, button, input, textarea, select, option {
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    line-height: 28px;
}
